@charset "UTF-8";
#itemOneDiv{
	width:1200px;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}
#itemOneOuterWrap{
	width: 1000px;
}
.diet_wrap {
	margin:0 auto;
}

.diet_wrap h3 {
	font-weight:bold;
	font-size:24px;
}

.sortOrder{
	width:1200px;
   	padding-bottom:70px;
   	position:relative;
}

.sortOrder:after {
	content:"";
	clear:both;
	display:block;
}

.sortOrder ul {
	position:absolute;
	text-align:right;
	right:0;
}


.sortOrder li {
	float:left;
	padding-left:30px;
}

.frame{
/* 	display:grid; */
/* 	grid-template-columns:1fr 1fr; */
/* 	width:600px;  */
	margin-left: 50px;
	margin-top: 30px;
}

/* #frame {position:relative;} */
.frame:after {
	content:"";
	clear:both;
	display:block;
}

.frame > div {
	float:left;
}
.frame .sort1 {
	width:400px;
	margin-right:40px;
	height:530px;
}
	
.frame .sort1 > img {
	border:1px solid #ddd;
	padding: 10px;
	width: inherit;
	height: inherit;
}


.frame li{
	display: inline;
	padding-left: 20px;
}
.frame p{
	border-bottom:1px solid #333; 
	width:470px;
	padding:0 0 15px;
	margin:30px 0 40px;
}

.frame p > span {
	display:inline-block;
	width:150px;
	font-size:24px;
	font-weight:bold;
}
.info{
	font-size: 20px;
	padding:3px;
}
.iteminfo{
	margin-left:50px;
}

.itemCtr {
	margin-left: 10px;
	width: auto;
	background: #d7266d;
	border: 2px solid #d7266d;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}

.itemCtrCenter{
	margin-left:240px; margin-right:240px;
}
/* 	미디어를 이용해서 최대 3개 최소 2개로 수정하기 */