@charset "UTF-8";

/*
	frame에 margin이 max에는 없고 min에는 있는 margin 때문에
	1450~1550 부분에 에러가 생김
	css 할 때 마무리 하기
*/

.diet_wrap {
	width:1200px;
	min-height: 100%;
	margin:0 auto;
}

.diet_wrap h3 {
	font-weight:bold;
	font-size:24px;
	display: inline-block;
}

.sortOrder{
	width:1200px;
   	padding-bottom:70px;
   	position:relative;
}

.sortOrder:after {content:"";clear:both;display:block;}

.sortOrder ul {
	position:absolute;
	right:0;
	}


.sortOrder li {float:left;padding-left:30px;}

/*#frame{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-left: 50px;
	margin-top: 30px;
}*/

#frame {position:relative;}
#frame:after {content:"";clear:both;display:block;}

#frame .CategoryItem {float:left;width:400px;text-align:center;padding-bottom:30px;}
#frame .sortImg {
	width: 300px;
	height:300px;
	margin-left:50px;
	}

#frame li{
	display: inline;
	padding-left: 20px;
}
#frame p{
	margin-left: 20px;
 		padding-left: 10px;
	text-align: left;
}
#addCartBtn{
	margin-top: 7px;
    	float: right;
}
.serachGo{
	float: right;
}
.infoTop{
	margin-bottom: 50px;
}
.serachGo2{
	float: left;
	margin-top: 50px;
	margin:0 auto;
}
.itemBoundary{
	border-top:1px solid; 
	border-bottom:1px solid; 
	padding-top: 5px;
}

.itemOneForm p{
	margin: 2px;
	margin-left: 1px;
}
.iImgATag{
	width: inherit;
	height: inherit;
}
.iImg {
	width: inherit;
	height: inherit;
	border: 1px solid #ddd;
	border-radius: 10px;
	object-fit: cover;
}
/* 	미디어를 이용해서 최대 3개 최소 2개로 수정하기 */
.itemListCB{
	margin-left : 30px;
}
.itemCtr{
	margin-left: 10px;
	width: auto;
	background: #d7266d;
	border: 2px solid #d7266d;
	color: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 14px;
}
.itemCtr:hover{
	font-weight: bold;
}

#categoryPtitle{
	margin: 0px;
    font-size: 30px;
}

