@charset "UTF-8";

.diet_wrap {
	width:1200px;
	margin:0 auto;
}

.diet_wrap h3 {
	font-weight:bold;font-size:24px;
}

.diet_wrap h4 {
	font-weight:bold;font-size:24px;
	margin: 0 0 10px;
}

.frame{
	margin-bottom:30px;
}

.frame .sortImg {float:left;}

.frame:after {
	content:"";
	clear:both;
	display:block;
}

.frame .sort1 {
	/*margin-right:40px;*/
	width: 450px;
}

.frame .sort1 > img {
	padding:30px; border:1px solid #ddd;
	
}
.sortImg{
	width: 400px;
}
.frame p{
	width:450px;
	padding:0 0 15px;
	margin:0px;
}

.info{
	font-size: 20px;
	padding:3px;
}
.reviewinfo{
	margin-left:50px;
}

.reviewCtr {
	padding:10px 20px;
	margin-right:15px;
	font-size:16px;
	background:#333;
	color:#fff;
	border:none;
	border-radius:10px;
}

.reviewCtrCenter{
	margin-left:240px; margin-right:240px;
}